/** Add css rules here for your application. */

button {
  display: block;
  font-size: 12pt
}

.widePanel {
  width: 100%
}

img {
  margin-top: 20px;
}

 .gwt-DecoratorPanel .middleCenter {
   height: 100%;
   width: 100%;
 }

.greyed {
  background-color:#FDFDFD;
}

.module-border
{
border: 1px solid #EEEEEE;
padding: 5px;
margin: 5px;
}
.bottomline
{
border-bottom: 1px dotted;
}

.module-title
{
	font-size: large;
	color:#004B64;
	border-bottom:1px solid #EEEEEE;
	font-size:1.6em;
	margin-bottom:0.2em;
}
.module-subtitle
{
	font-size: normal;
	color:#004B64;
	border-bottom:1px solid #FDFDFD;
	margin-bottom:0.2em;
	margin-top:0.7em;
}

.zebra {
	background-color:#EEEEEE;
}


.forumla {

	font-weight: bold;
}

.forumla-and {
	font-style: bold;
	color: green;
}

.formula-some {
	font-style: bold;
	color: red;
}

.header { 
	font-size: normal;
	color:#004B64;
	border-bottom:1px solid #FDFDFD;
	margin-bottom:0.75em;
} 
.tooltip {
	background-color:#FFFF66;
}





