<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean  id="fileTest" class="org.aksw.myapp.gwt.FileTest">
        <property name="file" value="file:" />
	</bean>

    <bean  id="fileTest2" class="org.aksw.myapp.gwt.FileTest">
        <property name="file" value="file:${user.home}" />
	</bean>

    <bean  id="fileTestcatalina" class="org.aksw.myapp.gwt.FileTest">
        <property name="file" value="file:${cataline.home}" />
	</bean>

    

    

</beans>
